body {
	margin: 0;
	font-family: Helvetica;
}

#logo {
	height: 60px;
	width: 90px;
}

#container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;	
}

#container p{
	font-size: 10px;
	font-family: Helvetica;
	color: green;
}